# Moonlight Companion settings

WINDOWS_SSH="moonlight-windows"
MOONLIGHT_HOST="100.x.y.z"
MOONLIGHT_APP="/Applications/Moonlight.app"
MOONLIGHT_STREAM_APP="Desktop"

MOONLIGHT_RESOLUTION="3456x2234"
MOONLIGHT_FPS="60"
MOONLIGHT_BITRATE="60000"
MOONLIGHT_DISPLAY_MODE="windowed"
MOONLIGHT_DISPLAY_INDEX="default"
MOONLIGHT_DISPLAY_PLACEMENT_TIMEOUT_SECONDS="180"
MOONLIGHT_VIDEO_CODEC="HEVC"
MOONLIGHT_CAPTURE_SYSTEM_KEYS="always"
MOONLIGHT_ABSOLUTE_MOUSE="yes"
MOONLIGHT_QUIT_EXISTING="yes"

# Map Caps Lock to the Windows Korean IME Han/Eng toggle inside Moonlight.
MOONLIGHT_CAPSLOCK_HANGUL="yes"
MOONLIGHT_SHORTCUT_REMAP="yes"
MOONLIGHT_CAPSLOCK_HANGUL_TCP_PORT="47321"
MOONLIGHT_CAPSLOCK_HANGUL_TCP_LOCAL_PORT="47321"

# Clipboard payload limit. Applies to text/image/file clipboard payloads.
MOONLIGHT_CLIPBOARD_TCP="yes"
MOONLIGHT_CLIPBOARD_MAC_TO_WINDOWS_TCP_PORT="47331"
MOONLIGHT_CLIPBOARD_MAC_TO_WINDOWS_TCP_LOCAL_PORT="47331"
MOONLIGHT_CLIPBOARD_WINDOWS_TO_MAC_TCP_PORT="47332"
MOONLIGHT_CLIPBOARD_WINDOWS_TO_MAC_TCP_LOCAL_PORT="47332"
MOONLIGHT_CLIPBOARD_MAX_BYTES="52428800"

# Durable folders used when file payloads are transferred.
MOONLIGHT_TRANSFER_MAC_DIR="${HOME}/Downloads/Moonlight Companion"
MOONLIGHT_TRANSFER_WINDOWS_DIR="%USERPROFILE%\\Downloads\\Moonlight Companion"
MOONLIGHT_TRANSFER_DROP_OVERLAY="yes"
MOONLIGHT_TRANSFER_AUTO_PASTE="no"
